
@{
    ViewBag.Title = "Index";
}

@section stylesheet
{
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet"/>
    
    
}





    <div class="jumbotron feature">
        <div class="container">
            <h1 style="color: #E2AB50">WELCOME TO FAW SCIENCE AND TECHNOLOGY</h1>
          
           
        </div>
    </div>

    <!-- Content -->
    <div class="container">

        <!-- Page Intro -->
        <div class="row page-intro">
            <div class="col-lg-12">
                <h1 >
                    The Faw University Management System
                    <small style="color: #8EC1AE">Can you become a MANAGER at FAW?</small>
                </h1>
                <!--<p>Can you become a pirate at FAW? The answer is yes! Students must prove their mastery of the MIT seas by completing the following physical education classes: archery, fencing, sailing and pistol or riflery. Check out our student blogger Abby H.’s certificate.</p>
            --></div>
        </div>
        <!-- /.row -->
        <!-- Feature Row -->
        <div class="row">
            
        </div>
        <!-- /.row -->

    </div>
<!-- /.container -->
<div class="row">
    <div class="column">
        <img src="http://www.gatech.edu/sites/default/files/images/block-nav/georgia-tech-research.jpg" alt="Fjords" style="width: 100%">
        <h3>Breaking down barriers and collaborating on research at the intersection of disciplines.</h3>
    </div>
    <div class="column">
        <img src="http://www.gatech.edu/sites/default/files/images/block-nav/georgia-tech-alumni-.jpg" alt="Forest" style="width: 100%">
        <h3>Choosing the right college can be complex. Learn more about Georgia Tech's academics, admissions, campus life, costs, and aid.</h3>
    </div>
    <div class="column">
        <img src="https://image.ibb.co/m3KKNo/georgia_tech_prospective_students.jpg" alt="Mountains" style="width: 100%">
        <h3>Our holistic admission process considers your academic background as well as your pursuits and interests outside the classroom.</h3>
    </div>
</div>

@*<section>
    <div id="page-wrap">
        <div id="doug-neiner-three" class="group">

            <div class="col">
                <h3>In our comprehensive, holistic admission process, we consider your academic background as well as your pursuits and interests outside the classroom. We look for students who enjoy being challenged and who are committed to furthering the Institute’s mission of “improving the human condition.” </h3>
            </div>
            <div class="col"><p></p></div>
            <div class="col"><p></p></div>

        </div>
    </div>
</section>*@

<footer>
    <div class="small-print">
        <div class="container">
            <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
            <p>Copyright &copy; TEAM ALPHA 2018 </p>
        </div>
    </div>
</footer>


@*<!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="js/holder.min.js"></script>*@


    @section scripts
    {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>

    <script src="~/Scripts/holder.min.js"></script>
    }


